<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Studentcode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.studentcode %></td>
        <td><%= image_tag (student.avatar.url.present? ? student.avatar.url : nil),class: "student" %> </td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%#= image_tag @student.avatar.url %>


<%= link_to 'New Student', new_student_path %>


<style type="text/css">
  .student {
  border-radius: 50%!important;
    height: 50px !important;
    width: 50px !important;
  }
</style>