<p id="notice"><%= notice %></p>

<h1>Students</h1>
<div>
<%= link_to '<button type="button"  class="btn btn-success">Add Student</button>'.html_safe, new_student_path %>
</div>
<br>
<table class="table-bordered table-striped " id="myTable" style="width:90%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Studentcode</th>
      <th>Avatar</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.studentcode %></td>
        <td><%= image_tag (student.avatar.url.present? ? student.avatar.url : nil),class: "student" %> </td>
        <td><%= link_to '<div class="glyphicon glyphicon-edit"></div>'.html_safe, edit_student_path(student),class:"btn btn-primary" %></td>
        <td><%= link_to '<div class="glyphicon glyphicon-trash"></div>'.html_safe, student, method: :delete, data: { confirm: 'All Student data will be deleted?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%#= image_tag @student.avatar.url %>





<style type="text/css">
  .student {
  border-radius: 50%!important;
    height: 50px !important;
    width: 50px !important;
  }
</style>