<h1>Ranks</h1>
<table>
  <thead>
    <tr>
      <th>StudentID</th>
      <th>StudentName</th>
	   <th>ObtainedMarks</th>
      <th>TotalMarks</th>
      <th>Rank</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% rankarr = []%>
    <% s_rank =[] %>
    <% @recordsarray.map do |e, value| %>
  <%   @sum= 0
     @totsum = 0  %>	

<% value.each do |u| 

 @sum =  u.rmarksobt + @sum
  @totsum =  u.rtotmarks + @totsum
  @student_id = u.student_id
 end %>
<%# binding.pry%>
  <% finalrank = [@student_id, @sum, @totsum]

        rankarr << finalrank
        # s_rank = [@sum]
        s_rank << @sum

   %>

 <% end %>
  <%  rankarr.sort! {|a,b| a[1] <=> b[1] }
  rankarr = rankarr.reverse %>
  <% s_rank = s_rank.sort.reverse.uniq %>
  <% rankarr.each do |r| %>
  <tr>
    <% @st = Student.where(id:r[0]).last %>
    <td><%= @st.studentcode %></td>
  <td><%= @st.name %></td>
  
  <td><%= @stobt =  r[1] %></td>
  <td><%= @sttot = r[2] %></td>
  <% if @stu_count * @sub_count == @records.count %>
  <td><%= s_rank.find_index(r[1])+1 %></td>
  <% end %>
 </tr>
 <% end %>


<%# binding.pry %>

  </tbody>
</table>

 