<p id="notice"><%= notice %></p>

<style type="text/css">
  td{
    padding: 10px;
  }
</style>



<h1>Teachers</h1>

<div>
<%= link_to '<button type="button"  class="btn btn-success">New Teacher</button>'.html_safe, new_teacher_path %>
</div>

<table class="table-bordered table-striped " id="myTable" style="width:100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phonenumber</th>
      <th>Subject(code)</th>
      <th colspan="2">Action</th>
     
    </tr>
  </thead>

<tbody>
    <% @teachers.each do |teacher| %>
  <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.phonenumber %></td>       
    <% if teacher.subject.present? %>

        <td><%= teacher.subject.name  + "("+teacher.subject.subjectcode+")" %></td>
        <% else %>
        <td><%= link_to 'Add Subject',new_subject_path(teacher: teacher.id) %></td>
        <% end %>    
        <td><%= link_to '<div class="glyphicon glyphicon-edit"></div>'.html_safe, edit_teacher_path(teacher),class:"btn btn-primary" %></td>
        <td><%= link_to '<div class="glyphicon glyphicon-trash"></div>'.html_safe, teacher, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
  </tr>
    <% end %>
</tbody>
</table>

<br>



<script type="text/javascript">
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>